# AI
.agents/
.ai/
.codex/
.claude/
.gemini/

# Composer
vendor/
composer.lock

# PHPUnit
.phpunit.cache/
.phpunit.result.cache
phpunit.xml

.php-cs-fixer.cache
/build/
/coverage/
.DS_Store

auth.json
.env
